* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bot-army {
  background-color: rgb(132, 255, 102);
  min-height: 200px;
}
.botsUl {
  display: flex;
  display: inline-flex;
}
.botsLi {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 10px;
  margin: 5px;
  background-color: white;
}
.bots img {
  width: 200px;
  background-color: rgb(228, 228, 228);
}
.bots #name {
  padding-left: 20px;
}
.bots #catch {
  width: 200px;
  font-size: 14px;
  color: gray;
  word-wrap: break-word;
  padding: 0 20px;
  padding-bottom: 10px;
}
.bots #stats {
  padding-left: 20px;
  color: gray;
  border-top: 1px solid rgb(190, 190, 190);
  padding-top: 10px;
}
